<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>  
    <typeAliases>  
        <typeAlias alias="Weather" type="com.joyhong.model.Weather"/>
        <typeAlias alias="Device" type="com.joyhong.model.Device"/>
        <typeAlias alias="User" type="com.joyhong.model.User"/>
        <typeAlias alias="Order" type="com.joyhong.model.Order"/>
        <typeAlias alias="Upload" type="com.joyhong.model.Upload"/>
        <typeAlias alias="UserDevice" type="com.joyhong.model.UserDevice"/>
    </typeAliases>  
    <mappers>  
        <mapper resource="com/joyhong/mapping/WeatherMapper.xml" />
        <mapper resource="com/joyhong/mapping/DeviceMapper.xml" />
        <mapper resource="com/joyhong/mapping/UserMapper.xml" />
        <mapper resource="com/joyhong/mapping/OrderMapper.xml" />
        <mapper resource="com/joyhong/mapping/UploadMapper.xml" />
        <mapper resource="com/joyhong/mapping/UserDeviceMapper.xml" />
    </mappers>
</configuration>