<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joyhong.dao.CategoryMapper">
  <resultMap id="BaseResultMap" type="com.joyhong.model.Category">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, type, create_date, modify_date, deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jh_category
    where deleted = 0 and deleted = 0 and id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectCount" resultType="java.lang.Integer">
    select count(id)
    from jh_category 
    where deleted = 0 and type = #{0}
  </select>
  <select id="selectOffsetAndLimit" resultMap="BaseResultMap">
    select 
	<include refid="Base_Column_List" />
    from jh_category
    where deleted = 0 and type = #{0} 
    limit #{1},#{2}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select 
	<include refid="Base_Column_List" />
    from jh_category
    where deleted = 0 order by type desc, id desc;
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from jh_category
    where deleted = 0 and deleted = 0 and id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.joyhong.model.Category">
    insert into jh_category (id, name, type, 
      create_date, modify_date, deleted
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=CHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP}, #{deleted,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.joyhong.model.Category">
    insert into jh_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=CHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.joyhong.model.Category">
    update jh_category
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
    </set>
    where deleted = 0 and id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.joyhong.model.Category">
    update jh_category
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=CHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=INTEGER}
    where deleted = 0 and id = #{id,jdbcType=INTEGER}
  </update>
</mapper>