<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joyhong.dao.DeviceMapper">
  <resultMap id="BaseResultMap" type="com.joyhong.model.Device">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="device_token" jdbcType="VARCHAR" property="deviceToken" />
    <result column="device_fcm_token" jdbcType="VARCHAR" property="deviceFcmToken" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="heartbeat_time" jdbcType="TIMESTAMP" property="heartbeatTime" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_id, device_token, device_fcm_token, login_time, heartbeat_time, create_date, modify_date, deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jh_device
    where deleted = 0 and id = #{id,jdbcType=INTEGER}
  </select>
  <!-- Michael.Miao -->
  <select id="selectByDeviceToken" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jh_device
    where deleted = 0 and device_token = #{deviceToken,jdbcType=VARCHAR}
  </select>
  <select id="selectLikeDeviceToken" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jh_device
    where deleted = 0 and device_token like #{deviceToken,jdbcType=VARCHAR}
  </select>
  <select id="selectByOrderId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" /> 
    from jh_device
    where deleted = 0 and order_id = #{orderId,jdbcType=INTEGER}
  </select>
  <select id="selectByOrderIdReturnDeviceToken" parameterType="java.lang.Integer" resultType="java.lang.String">
    select device_token 
    from jh_device
    where deleted = 0 and order_id = #{orderId,jdbcType=INTEGER}
  </select>
  <select id="selectCountByOrderId" resultType="java.lang.Integer">
    select count(id)
    from jh_device 
    where deleted = 0 and order_id = #{0}
  </select>
  <select id="selectCount" resultType="java.lang.Integer">
    select count(id)
    from jh_device 
    where deleted = 0
  </select>
  <select id="selectOffsetAndLimit" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
	<include refid="Base_Column_List" />
    from jh_device
    where deleted = 0 
    limit #{0},#{1}
  </select>
  <select id="selectOrderCount" resultType="java.lang.Integer">
    select count(id)
    from jh_device 
    where deleted = 0 and order_id = #{0}
  </select>
  <select id="selectOrderOffsetAndLimit" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
	<include refid="Base_Column_List" />
    from jh_device
    where deleted = 0 and order_id = #{0}
    limit #{1},#{2}
  </select>
  <select id="selectSearchCount" resultType="java.lang.Integer">
    select count(id)
    from jh_device 
    where deleted = 0 and device_token like #{0} and device_fcm_token like #{1}
  </select>
  <select id="selectSearchOffsetAndLimit" resultMap="BaseResultMap">
    select 
	<include refid="Base_Column_List" />
    from jh_device
    where deleted = 0 and device_token like #{0} and device_fcm_token like #{1}
    limit #{2},#{3}
  </select>
  <!-- Michael.Miao -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from jh_device
    where deleted = 0 and id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.joyhong.model.Device">
    insert into jh_device (id, order_id, device_token, device_fcm_token, login_time, heartbeat_time, 
      create_date, modify_date, deleted
      )
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{deviceToken,jdbcType=VARCHAR}, #{deviceFcmToken,jdbcType=VARCHAR}, 
       #{loginTime,jdbcType=TIMESTAMP}, #{heartbeatTime,jdbcType=TIMESTAMP}, #{createDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP}, #{deleted,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.joyhong.model.Device">
    insert into jh_device
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderId != null">
        orderId,
      </if>
      <if test="deviceToken != null">
        device_token,
      </if>
      <if test="deviceFcmToken != null">
        device_fcm_token,
      </if>
      <if test="loginTime != null">
        login_time,
      </if>
      <if test="heartbeatTime != null">
        heartbeat_time,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="deviceToken != null">
        #{deviceToken,jdbcType=VARCHAR},
      </if>
      <if test="deviceFcmToken != null">
        #{deviceFcmToken,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null">
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="heartbeatTime != null">
        #{heartbeatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.joyhong.model.Device">
    update jh_device
    <set>
      <if test="deviceToken != null">
        device_token = #{deviceToken,jdbcType=VARCHAR},
      </if>
      <if test="deviceFcmToken != null">
        device_fcm_token = #{deviceFcmToken,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null">
        login_time = #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="heartbeatTime != null">
        heartbeat_time = #{heartbeatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
    </set>
    where deleted = 0 and id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.joyhong.model.Device">
    update jh_device
    set device_token = #{deviceToken,jdbcType=VARCHAR},
      device_fcm_token = #{deviceFcmToken,jdbcType=VARCHAR},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP} 
    where deleted = 0 and id = #{id,jdbcType=INTEGER}
  </update>
</mapper>