<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joyhong.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="com.joyhong.model.Order">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="order_code" jdbcType="CHAR" property="orderCode" />
    <result column="machine_code" jdbcType="CHAR" property="machineCode" />
    <result column="dealer_code" jdbcType="CHAR" property="dealerCode" />
    <result column="key_code" jdbcType="CHAR" property="keyCode" />
    <result column="order_qty" jdbcType="INTEGER" property="orderQty" />
    <result column="max_bind" jdbcType="INTEGER" property="maxBind" />
    <result column="last_version" jdbcType="INTEGER" property="lastVersion" />
    <result column="download_link" jdbcType="VARCHAR" property="downloadLink" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.joyhong.model.Order">
    <result column="version_desc" jdbcType="LONGVARCHAR" property="versionDesc" />
  </resultMap>
  <sql id="Base_Column_List">
    id, category_id, order_code, machine_code, dealer_code, key_code, order_qty, max_bind, last_version, download_link, create_date, 
    modify_date, deleted
  </sql>
  <sql id="Blob_Column_List">
    version_desc
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from jh_order
    where deleted = 0 and id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectCountByCategoryId" resultType="java.lang.Integer">
    select count(id)
    from jh_order
    where deleted = 0 and category_id = #{0}
  </select>
  <select id="selectCount" resultType="java.lang.Integer">
    select count(id)
    from jh_order
    where deleted = 0
  </select>
  <select id="selectOffsetAndLimit" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
	<include refid="Base_Column_List" />
    from jh_order
    where deleted = 0 
    limit #{0},#{1}
  </select>
  <select id="selectCategoryCount" resultType="java.lang.Integer">
    select count(id)
    from jh_order
    where deleted = 0 and category_id = #{0}
  </select>
  <select id="selectCategoryOffsetAndLimit" resultMap="BaseResultMap">
    select 
	<include refid="Base_Column_List" />
    from jh_order
    where deleted = 0 and category_id = #{0}
    limit #{1},#{2}
  </select>
  <select id="selectSearchCount" resultType="java.lang.Integer">
    select count(id)
    from jh_order
    where deleted = 0 and order_code like #{0} and machine_code like #{1} and dealer_code like #{2} and key_code like #{3}
  </select>
  <select id="selectSearchOffsetAndLimit" resultMap="BaseResultMap">
    select 
	<include refid="Base_Column_List" />
    from jh_order
    where deleted = 0 and order_code like #{0} and machine_code like #{1} and dealer_code like #{2} and key_code like #{3}
    limit #{4},#{5}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from jh_order
    where deleted = 0 and id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.joyhong.model.Order">
    insert into jh_order (id, category_id, order_code, machine_code, 
      dealer_code, key_code, order_qty, max_bind, last_version, download_link, 
      create_date, modify_date, deleted, version_desc
      )
    values (#{id,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, #{orderCode,jdbcType=CHAR}, #{machineCode,jdbcType=CHAR}, 
      #{dealerCode,jdbcType=CHAR}, #{keyCode,jdbcType=CHAR}, #{orderQty,jdbcType=INTEGER}, #{maxBind,jdbcType=INTEGER},
      #{lastVersion,jdbcType=INTEGER}, #{downloadLink,jdbcType=VARCHAR},
      #{createDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP}, #{deleted,jdbcType=INTEGER}, #{versionDesc,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.joyhong.model.Order">
    insert into jh_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="orderCode != null">
        order_code,
      </if>
      <if test="machineCode != null">
        machine_code,
      </if>
      <if test="dealerCode != null">
        dealer_code,
      </if>
      <if test="keyCode != null">
        key_code,
      </if>
      <if test="orderQty != null">
        order_qty,
      </if>
      <if test="maxBind != null">
        max_bind,
      </if>
      <if test="lastVersion != null">
        last_version,
      </if>
      <if test="downloadLink != null">
        download_link,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="versionDesc != null">		
	    version_desc,		
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null">
        #{category_id,jdbcType=INTEGER},
      </if>
      <if test="orderCode != null">
        #{orderCode,jdbcType=CHAR},
      </if>
      <if test="machineCode != null">
        #{machineCode,jdbcType=CHAR},
      </if>
      <if test="dealerCode != null">
        #{dealerCode,jdbcType=CHAR},
      </if>
      <if test="keyCode != null">
        #{keyCode,jdbcType=CHAR},
      </if>
      <if test="orderQty != null">
        #{orderQty,jdbcType=INTEGER},
      </if>
      <if test="maxBind != null">
        #{maxBind,jdbcType=INTEGER},
      </if>
      <if test="lastVersion != null">
        #{lastVersion,jdbcType=INTEGER},
      </if>
      <if test="downloadLink != null">
        #{downloadLink,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="versionDesc != null">
        #{versionDesc,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.joyhong.model.Order">
    update jh_order
    <set>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="orderCode != null">
        order_code = #{orderCode,jdbcType=CHAR},
      </if>
      <if test="machineCode != null">
        machine_code = #{machineCode,jdbcType=CHAR},
      </if>
      <if test="dealerCode != null">
        dealer_code = #{dealerCode,jdbcType=CHAR},
      </if>
      <if test="keyCode != null">
        key_code = #{keyCode,jdbcType=CHAR},
      </if>
      <if test="orderQty != null">
        order_qty = #{orderQty,jdbcType=INTEGER},
      </if>
      <if test="maxBind != null">
        max_bind = #{maxBind,jdbcType=INTEGER},
      </if>
      <if test="lastVersion != null">
        last_version = #{lastVersion,jdbcType=INTEGER},
      </if>
      <if test="downloadLink != null">
        download_link = #{downloadLink,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="versionDesc != null">
        version_desc = #{versionDesc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where deleted = 0 and id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.joyhong.model.Order">
    update jh_order
    set category_id = #{categoryId,jdbcType=INTEGER},
      order_code = #{orderCode,jdbcType=CHAR},
      machine_code = #{machineCode,jdbcType=CHAR},
      dealer_code = #{dealerCode,jdbcType=CHAR},
      key_code = #{keyCode,jdbcType=CHAR},
      order_qty = #{orderQty,jdbcType=INTEGER},
      max_bind = #{maxBind,jdbcType=INTEGER},
      last_version = #{lastVersion,jdbcType=INTEGER},
      download_link = #{downloadLink,jdbcType=VARCHAR},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      version_desc = #{versionDesc,jdbcType=LONGVARCHAR},
      deleted = #{deleted,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.joyhong.model.Order">
    update jh_order
    set category_id = #{categoryId,jdbcType=INTEGER},
      order_code = #{orderCode,jdbcType=CHAR},
      machine_code = #{machineCode,jdbcType=CHAR},
      dealer_code = #{dealerCode,jdbcType=CHAR},
      key_code = #{keyCode,jdbcType=CHAR},
      order_qty = #{orderQty,jdbcType=INTEGER},
      max_bind = #{maxBind,jdbcType=INTEGER},
      last_version = #{lastVersion,jdbcType=INTEGER},
      download_link = #{downloadLink,jdbcType=VARCHAR},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=INTEGER}
    where deleted = 0 and id = #{id,jdbcType=INTEGER}
  </update>
</mapper>